<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal - Recomendaciones Personalizadas</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Bienvenido a Tu Sitio de Recomendaciones Personalizadas</h1>
            <p>Descubre libros, películas, series y videojuegos que se adaptan a tus gustos</p>
            <div class="user-icon" onclick="toggleUserMenu()"><img src="user-icon.png" alt="User Icon" height="5%" width="15%"></div>
            <div class="user-menu" id="userMenu">
                <a href="#">Iniciar sesión</a><a href="#">Crear cuenta</a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="sidebar">
            <h2>Categorías</h2>
            <ul>
                <li><a href="#peliculas">Peliculas</a></li>
                <li><a href="#videojuegos">Videojuegos</a></li>
                <li><a href="#series">Series</a></li>
                <li><a href="#libros">Libros</a></li>
            </ul>
        </div>
    </div>

    <div class="carousel-container">
        <div class="carousel">
            <img src="imagen1.jpg" alt="Imagen 1">
            <img src="imagen2.jpg" alt="Imagen 2">
            <img src="imagen3.jpg" alt="Imagen 3">
            <img src="imagen4.png" alt="Imagen 4">
        </div>
        <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
        <button class="next" onclick="plusSlides(1)">&#10095;</button>
    </div>

    <script src="script.js"></script>
</body>
</html>