<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal - Recomendaciones Personalizadas</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Bienvenido a Tu Sitio de Recomendaciones Personalizadas</h1>
            <p>Descubre libros, películas, series y videojuegos que se adaptan a tus gustos</p>
            <div class="user-icon" onclick="toggleUserMenu()"><img src="user-icon.png" alt="User Icon"></div>
            <div class="user-menu" id="userMenu">
                <a href="#">Iniciar sesión</a><a href="#">Crear cuenta</a>
            </div>
        </div>
    </header>

    Esto es un ejemplo

    <!-- Contenido principal de la página -->

    <script src="script.js"></script>
</body>
</html>