body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Agregamos posición relativa para el contenedor */
}

header {
    background-color: #f8f8f8;
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    color: #666;
}

.user-icon {
    position: absolute;
    top: 20px;
    right: -20%;
    cursor: pointer;
}

.user-menu {
    display: none;
    position: absolute;
    top: 70px; /* Ajustamos la posición vertical para evitar superposiciones */
    right: -15%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    margin: 10px;
    border: 2px solid #333;
    border-radius: 20px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #333;
    color: #fff;
}

.user-menu a {
    display: block;
}

.user-menu a:first-child {
    margin-bottom: 10px;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
    display: none;
    animation: fadeIn 1s ease-in-out;
}

.carousel img:first-child {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilos para el menú de navegación */
.sidebar {
    position: absolute;
    top: 100%;
    right: -20%; /* Ajustamos la posición a la derecha */
    width: 200px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ddd;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    padding: 5%;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    color: #666;
}

.carousel-container {
    margin-top: 20px; /* Ajuste para dar espacio debajo del menú */
}